.loader-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 900px;
  padding: 0px;
}
.failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container {
  padding: 50px;
  min-height: 100vh;
}
